@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #1b1e1f;
}
